@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    background-color: #0D0D0D;
    text-align: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: auto;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20vh;
}

.section1{
    width: 100vw;
    height: 100vh;
}

.section2{
    width: 100vw;
    height: 100vh;
}

input{
    background-color: #262626;
    color: #808080;
    font-size: large;
    padding-left: 1vw;
    border-radius: 5px;
    border: 0;
}

button{
    border-radius: 5px;
    gap: 5px;
    border: 0;
}

.btncriar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E6F9F;
    font-size: large;
    color: white;
    width: 5vw;
    height: 7.4vh;
}

.inptcriar{
    width: 50vw;
    height: 7vh;
    outline: none;
}

.inptcriar:focus{
    border: 1px solid purple;
}

.contador{
    padding: 5px;
    padding-inline: 5px;
    background-color: #333333;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 5%;
    height: 2vh;
}

.dinamico{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dinamico > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 50%;
}

.criar{
    display: flex;
    justify-content: center;
    margin-top: -4vh;
    height: 15vh;
    gap: 15px;
}

p{
    color: #808080;
}

.tarefas{
    display: none;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.taskname{
    color: white;
    font-size: large;
}

.trash{
    background-color: transparent;
    cursor: pointer;
    color: #808080;
}

.addtask{
    margin: auto;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #333333;
    border-radius: 5px;
    width: 50vw;
    margin-bottom: 10px;
    height: 5vh;
}

.ttxt{
    color: white;
}

span{
    cursor: pointer;
}

.concluida {
    text-decoration: line-through;
}